/* #p1{
    border: 1px solid rgb(8, 8, 8);
    height: auto;
    width: 300px;
}
#p2{
    border-bottom: 1px solid rgb(255, 0, 0);
    height: auto;
    width: 300px;
}
#p3{
    border: 1px solid rgb(15, 15, 15);
    height: auto;
    width: 300px;
    border-radius: 100px;
}
#p4{
    border-left: 10px solid rgb(22, 6, 250);
    height: auto;
    width: 300px;
    background-color: rgba(4, 91, 131, 0.233);
}

 */

 /* #G{
    font-size: 70px;
    color: rgb(4, 194, 252);
    border: 0px;
    height: 90px;
    width: 400px;
    padding:fit-content;
    background-size: 10vw 10vh;
    background-repeat: no-repeat;
    position:absolute;
    top: 200px;
    left: 40vw

    }

 #O{
    font-size: 70px;
    color: rgb(252, 10, 10);
    border: 0px;
    height: 90px;
    width: 400px;
    padding:fit-content;
    background-size: 10vw 10vh;
    background-repeat: no-repeat;
    position:absolute;
    top: 200px;
    left: 42.5vw

    }
 #O2{
    font-size: 70px;
    color: rgb(252, 173, 4);
    border: 0px;
    height: 90px;
    width: 400px;
    padding:fit-content;
    background-size: 10vw 10vh;
    background-repeat: no-repeat;
    position:absolute;
    top: 200px;
    left: 45.3vw

    }
 #G2{
    font-size: 70px;
    color: rgb(4, 194, 252);
    border: 0px;
    height: 90px;
    width: 400px;
    padding:fit-content;
    background-size: 10vw 10vh;
    background-repeat: no-repeat;
    position:absolute;
    top: 200px;
    left: 48vw

    }
 #L{
    font-size: 70px;
    color: rgb(41, 173, 15);
    border: 0px;
    height: 90px;
    width: 400px;
    padding:fit-content;
    background-size: 10vw 10vh;
    background-repeat: no-repeat;
    position:absolute;
    top: 200px;
    left: 50.8vw

    }
 #E{
    font-size: 70px;
    color: rgb(252, 4, 4);
    border: 0px;
    height: 90px;
    width: 400px;
    padding:fit-content;
    background-size: 10vw 10vh;
    background-repeat: no-repeat;
    position:absolute;
    top: 200px;
    left: 53.2vw

    }
#About{
position: absolute;
left: 30px
}

#Store{
position: absolute;
left: 90px
}

#SearchBar{
    background-image: url(data:image/webp;base64,UklGRtgCAABXRUJQVlA4IMwCAAAwFwCdASpeAWQAPp1OoU2lpCMjIbIIgLATiWlu4Wur887/tBBgNsBuAN5A3k7Ik4QZbzADSszP/GhqAdLMJXAFmCbvHWN7ILZN3jrG88NPl5n35n35n35n6oGtEdUhlTvuDro7x1jMJ5eblkv9vY0jo8N24UUMkMdeum3kJo3Vs63jERHdc7wpQcV++z1Gy4o5vZ2aSoHW1pR1V5rJCdEK9kFsm6rDGAZeRifxsHxsHxsHxsZmBvZBbJu8dY3sgtkbAAD+/tdW34u/Ea66uALSnn76gv07BYD3lJd9/WZh3Y6VsRvFu5h6qAQ4TnZEVg1q9+Cdu8mCZCzTg4B5hREoUVaZuh/3t120Yv3G2rGrKj3MdzxwZ0xgWcBvBI469wZBbqfEw7fu/y1/trsFLnB/ngIkKqzMLgkf69ewpM2UQq6AsaDa/BaTqMPypsy/1/HtMZXVPcvQgkpsnlvbg7Ew0A1tkYx/D/zytNJnNBdiLQ22oxvOtR/T/4fjytn+NMPcAxBPwyGDDOGXf9V8bYK3QEqKwfe9eQoHp75a0a/U6iCnVnsmTP7kRqPbc0wl6Kw+BdPUUMSOHTMDF1sc/UhenuYwjXaEChF4oZOEn+CPPPjylWNzODF8+L5PcQ6ceWb/QS5Squaa+WJqqjtWpwckOW1tB73xVDkx8LEi96cC4omaYIgFbhHdLV0k83hhed0Uaex+Ubt6zKj8IayIvsWwj6nVLxVzEMUe97e6BmRg6MzkBwq9xJ87cf6xUaJMhZ1uYgxnM1oFH1cTUe1B3x+pTD8XdxPQVB7kvyRZoM+49NlqCyeXi6q0sfV0YLD4F8ldsyb1rTKv6UxXCs3XO8gYhN0jApeh8IDnZM7lvPO+HlEgBLErTwq8CnP+ecfE1BMva+yAAhCCD6zXKBbm3Kzh3mF2UvQy26z6TY2UsDq4TQAOyyn5uZhkAAAAAA==);
    position:absolute;
    border: 0px;
    height: 100px;
    width: 600px;
    background-size: 35vw 10vh;
    background-repeat: no-repeat;
    position:absolute;
    top: 350px;
    left: 30vw

}
#Gmail{
    position:absolute;
    right: 190px
}

#Images{
    position:absolute;
    right: 120px
}

#SignIn{
    font-size: 20px;
    position:absolute;
    right: 20px;
    top: 1px;
    border:0px;
    background-color:rgba(8, 53, 253, 0.726);
    padding: 3px;
    border-radius: 10px
} */

#Name{
    font-size: 30px;
    position:absolute;
    top: 100px;
    left: 300px;
    border:0px;
    margin:1px
}

.first{
position: relative;
border:0px;
margin:5px;
top: 150px;
left:300px;
z-index: 10px
}

#objective{
    border-bottom: 2px solid black;
    height:auto;
    width:500px;
    font-size: 20px;
    position:absolute;
    top: 300px;
    left:300px;
}

#Career{
    font-size: 15px;
    position:absolute;
    top: 340px;
    left:300px;
}
#present{
    border-bottom: 2px solid black;
    height:auto;
    width:500px;
    font-size: 20px;
    position:absolute;
    top: 370px;
    left:300px;
}

#status{
    font-size: 15px;
    position:absolute;
    top: 410px;
    left:300px;
}

#education{
    font-size:20px;
    position:absolute;
    top: 440px;
    left:300px;
    border-bottom: 2px solid;
    width: 500px
}

#table{
    position:absolute;
    top: 500px;
    left:300px;
}
#hobbies{
    font-size:20px;
    position:absolute;
    top: 600px;
    left:300px;
    border-bottom: 2px solid;
    width: 500px
}
#listHobbies{
    position:absolute;
    top: 650px;
    left:300px;
}
#references{
    font-size:20px;
    position:absolute;
    top: 750px;
    left:300px;
    border-bottom: 2px solid;
    width: 500px
}
.person1{
position: relative;
border:0px;
margin:5px;
top: 755px;
left:300px;
z-index: 10px;


}
.person2{
position: relative;
border:0px;
margin:5px;
margin-top: 10px;
top: 755px;
left:300px;
z-index: 10px

}